<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>User Profile System</h1>
      <div class="buttons">
        <a href="/create" class="btn">
          <img src="/static/board.svg" alt="Create" class="btn-img" />
          <div>Create User</div>
        </a>

        <a href="/records" class="btn">
          <img src="/static/report.svg" alt="Records" class="btn-img" />
          <div>View Records</div>
        </a>

        <a href="/data_json" class="btn">
          <img src="/static/zoom.svg" alt="Analysis" class="btn-img" />
          <div>Analysis Data</div>
        </a>

        <a href="/predict" class="btn">
          <img src="/static/bot.svg" alt="Predict" class="btn-img" />
          <div>Predict Dosh</div>
        </a>
      </div>
    </div>
  </body>
</html>
